<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO</title>
</head>
<body>
    <h1>TODO</h1>
    <form method="POST" action="/lists/{{ list.id }}/add_item">
        <input type="text" name="item_text" id="id_new_item"
               placeholder="TODO 항목 입력">
        {% csrf_token %}
    </form>
    <table id="id_list_table">
        {% for item in list.item_set.all %}
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>